#root {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

.Contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: beige;
}

.Boton{
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px;
  background-color: darkgreen;
}